.feed {
  padding: 1em;
  scroll-snap-type: y mandatory;
  display: grid;
  grid-gap: 1em;
}

.feed > a {
  border-radius: 5px;
  border: 1px solid #ccc;
  scroll-snap-align: start;
  display: block;
  text-decoration: none;
  color: inherit;
  background: #fff;
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
}

.feed > a > p {
  margin: 0;
}
